* {
    margin: 0px;
    padding: 0px;
}

body {
    font: 20px Oswald;
    text-transform: uppercase;
    padding: 3px;
}

ul {
    list-style-position: inside;
    list-style-type: none;
    
}

ul li {
    height: 150px;
    background-color: #4a4a4a;
    position: relative;
    line-height: 150px;
    margin-bottom: 3px;
}

ul a {
    text-decoration: none;
    color: white;
    position: absolute;
}

.box {
    display: inline-block;
    margin: 55px 23px 55px 28px;
}

.img2 {
    float: right;
    display: inline-block;
    margin: 60px 23px 60px 28px;
}

ul li:hover {
    background-color: rgba(74, 73, 74, 0.8);
}

.done {
    display: inline-block;
    margin: 55px 23px 55px 28px;
    background-image: url(img/done.png);
}

.green {
    background-color: #27ae60;
}

.green:hover {
    background-color: rgba(39, 174, 95, 0.8);
}