body {
    background: #745cc1;
    font-family: "Roboto";
}

.boxLogin {
    margin: auto;
    width: 375px;
    height: auto;
    padding: 65px 64px 65px 64px;
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    
}

.boxLogin input[type="email"],
.boxLogin input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    margin-bottom: 55px;
    color: white;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    font-size: 18px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    font-size: 18px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
    font-size: 18px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    font-size: 18px;
}

.boxLogin input[type="submit"] {
    border-radius: 40px;
    width: 247px;
    height: 50px;
    border: none;
    background: white;
    font-size: 18px;
    font-weight: 600;
    color: #39393a;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.centralizar {
    text-align: center;
}

.boxLogin a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}